# Visual Studio
.vs/
*.com
*.exe
*.dll
*.pdb
*.user
*.suo
*.sln.docstates
*.builds
*.opendata
*.tlog
*.log
.vscode/

# Build artifacts
[Bb]in/
[Oo]bj/

# Package Manager
packages/
*.nupkg

# Rider
.idea/
*.iml

# misc
[Dd]ebug/
[Rr]elease/